{% extends "Base.html" %}

{% block title %}
  ~{{ status }}~ 
{% endblock title %}

{% block body %}
<div class="row">
  <div class="col-9">
    <form method="post" novalidate>
      <br>
      {% csrf_token %}
      {{ form }}
      <input type="submit" value="enviar" class="btn btn-info">
    </form>

    {% if status == "Login" %}
      <p class="mt-3">If you don't have an account yet, please <a href="{% url 'register' %}">register</a></p>
    {% else %}
      <p class="mt-3">If you already have an account , please <a href="{% url 'login' %}">login</a></p>
    {% endif %}
  </div>
</div>
{% endblock body %}